
body {
    display: flex;
    justify-content: center;
}
fieldset {
    background: red;
    padding: 20px;
    border: solid black 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 10px;
    background: black;
    color: white;
}
input.sub {
    height: 30px;
    border: black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Impact;
}
input.sub:hover {
    cursor: pointer;
}
p {
    margin: 5px 10px;
}
.massage {
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    color: red;
}
